/* --------------------------- Alert MESSAGES Code -------------------------- */	
.error { color:#FF0000 !important; margin-right:20px; float:left;}
.error_wish { color:#FF0000 !important; margin-top:5px; float:left; font-size:11px;}
.error-left {
	float:left;
	width:13px;
	height:32px;
	margin-left: 5px;
	/*background: url(../images/forms/error_left.gif) no-repeat;*/
}

#message-green {
	margin-bottom: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-border-radius: 10px;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF),
		to(#FFFFFF) );
	background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		#FFFFFF, endColorstr = #FFFFFF );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#FFFFFF)";
	border:solid 1px #000000;
	width: 100%;
	height: 35px;
	float:left;
	position:fixed;
	z-index:9999;
	width:100%;
	text-align:left;
}

#message-green p {
	color: #000000;
	background: url("../images/i_msg-success.gif") no-repeat scroll 0px 10px transparent;
	font-family:"Myriad Pro";
    font-size: 16px;
    line-height: 10px;
	padding: 0px 0 0 20px;
	margin-left:10px;
	
}




#message-red {
	margin-bottom: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-border-radius: 10px;
	background-color: #F2DEDE;
    border-color: #EED3D7;
	border:solid 1px;
    color: #B94A48;	
	width: 100%;
	height: 35px;
	float:left;
	position:absolute;
	top:0;
	left:0;
	text-align:left;
	z-index:999999999;
}

#message-red p {
	color: #B94A48;	
	background: url("../images/icon_errors.png") no-repeat scroll 0px 10px transparent;
	font-family:"Myriad Pro";
    font-size: 16px;
    line-height: 10px;
	padding: 0px 0 0 20px;
	margin-left:10px;
	
}


/* ------------------ End Alert Msg codes ----------------*/



/*pagination_open-------------------------------------------------*/

.linkThree {
	background-attachment: scroll;
    background-clip: padding-box !important;
	/* For WebKit (Safari, Google Chrome etc) */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
        /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
        /* For Internet Explorer 5.5 - 7 */
    -filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#FFFFFF);
        /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#FFFFFF)";
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border: 1px solid #000000;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    line-height: 2em;
    padding: 3px 6px;
    text-decoration: none;

}
.linkThree:hover{
	/* For WebKit (Safari, Google Chrome etc) */
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
        /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #000000, #000000);
        /* For Internet Explorer 5.5 - 7 */
    -filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
        /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";		
	 border: 1px solid #FFFFFF;	
	 color:#FFFFFF;
	  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.page_active{
	background-attachment: scroll;
    background-clip: padding-box !important;
	/* For WebKit (Safari, Google Chrome etc) */
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
        /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #000000, #000000);
        /* For Internet Explorer 5.5 - 7 */
    -filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
        /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";
		
	 border: 1px solid #FFFFFF;	
	 color:#FFFFFF;
	  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 1em;
    padding: 3px 6px;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}
.page-right { float:right; margin:10px; width:70%; text-align:right; }
.pag_right span { background-attachment: scroll;
    background-clip: padding-box !important;
	/* For WebKit (Safari, Google Chrome etc) */
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
        /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #000000, #000000);
        /* For Internet Explorer 5.5 - 7 */
    -filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
        /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)";
	 background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border: 1px solid #FFFFFF;

    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 2em;
    padding: 3px 6px;
    text-decoration: none;

}
/*pagination_close-------------------------------------------------*/

.teamlink{ text-decoration:none;color:#FFF; text-transform:none;width:77px; font-size:11px;}
